@use "../visuals/colors" as c;
@use "../utils/fonts" as f;

.stage__cts-btn {
  @media screen and (min-width: 600px) {
    padding: 2% 5%;
    border-radius: 0 2rem 0 2rem;
    background-color: c.$colorWhite;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 2% 5%;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:checked {
      color: c.$colorLightBlue;

    }

    &:hover {
      @include f.Poppins-Bold;
      font-size: 1.2rem;
      background-color: c.$colorLightBlue c.$colorBlack;
      transform: scale(1.05);
      border-radius: 2rem;
    }
  }
}

.stage__cts-btn {

}

.btn {
  margin-top: 1rem;
  @include f.Montserrat-Bold;
  font-size: 1rem;
  padding: 12px 24px;
  border: 1px solid c.$colorRed;
  background-color: c.$colorRed;
  border-radius: 0.5rem;
  color: black;
  cursor: pointer;
  transition: color 250ms ease-in-out, border 250ms ease-in-out, background-color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: white;
    border: 1px solid c.$colorRedHover;
    background-color: c.$colorRedHover;
  }
}
