$colorBlack: #000000;
//$colorBlue :#;
$colorLightBlue: #A3F4FF;
$colorLightBlueHover: #689ba3;
$colorRed: #FF6482;
$colorRedHover: #752c3b;
$colorGreen: #81C784;
$colorGreenHover: #426b44;
$colorOrange: #FBC464;
$colorYellow: #FEE54A;
$colorBeige: #FFF0D3;
$colorWhite: #FFFFFF;
$topNavBackground: #eeeeee;
