// Fonts mixins

@mixin Poppins-Regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@mixin Poppins-Bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@mixin Poppins-Light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

@mixin Montserrat-Regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@mixin Montserrat-Bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@mixin Montserrat-Light {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}