@use "../utils/fonts" as f;
@use "../visuals/buttons" as b;
@use "../visuals/colors" as c;

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.nav {
  &__toggle {
    display: none;
  }

  &__burger {
    position: relative;
    z-index: 20;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    background-color: c.$colorWhite;
    padding: 1.5rem 1rem;

    span {
      height: 3px;
      background: c.$colorBlack;
      border-radius: 2px;
      display: block;
    }

    @media (max-width: 999px) {
      display: flex;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    list-style-type: none;
    position: relative;

    @media (min-width: 1000px) {
      flex-direction: column;
      gap: 0;
    }

    &_link {
      &--button {
        padding: 8px;

        a {
          border-radius: 8px;
          background-color: c.$colorRed;
          border: 1px solid c.$colorRed;
          transition: background-color 250ms ease-in-out, border 250ms ease-in-out, color 250ms ease-in-out;

          &:hover,
          &:focus {
            color: c.$colorWhite;
            background-color: c.$colorRedHover;
            border: 1px solid c.$colorRedHover;
          }
        }

        &--first {
          padding: 8px;

          @media (min-width: 1000px) {
            margin-left: auto;
          }

          a {
            border-radius: 8px;
            background-color: c.$colorLightBlue;
            border: 1px solid c.$colorLightBlue;
            transition: background-color 250ms ease-in-out, border 250ms ease-in-out, color 250ms ease-in-out;

            &:hover,
            &:focus {
              color: c.$colorWhite;
              background-color: c.$colorLightBlueHover;
              border: 1px solid c.$colorLightBlueHover;
            }
          }
        }
      }
    }

    &-logo {
      &-a {
        display: none;

        @media (min-width: 1000px) {
          display: initial;
        }
      }
    }

    &-top {
      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: c.$topNavBackground;

      @media (min-width: 1000px) {
        flex-direction: row;
        justify-content: flex-end;

        background-color: c.$topNavBackground;
      }

      &-background {
        order: 2;
        width: 100%;
        background-color: c.$topNavBackground;

        @media (min-width: 1000px) {
          order: -1;
        }
      }

      &-a {
        font-size: 1rem;
        color: c.$colorBlack;
        text-decoration: none;
        font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 24px;
        width: calc(100% - 48px);

        @media (min-width: 1000px) {
          font-size: 0.875rem;
          padding: 18px 16px;
          width: calc(100% - 32px);
        }
      }
    }

    &-under {
      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: c.$colorOrange;

      @media (min-width: 1000px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: c.$colorWhite;
      }

      &-background {
        width: 100%;
        background-color: c.$colorOrange;

        @media (min-width: 1000px) {
          background-color: c.$colorWhite;
        }
      }
    }

    &-a {
      font-size: 1rem;
      color: c.$colorBlack;
      text-decoration: none;
      font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 24px;
      width: calc(100% - 48px);
    }
  }

  &__container_link--active {
    @include f.Montserrat-Bold;
    font-size: 1.2rem;

    &-small {
      @include f.Montserrat-Bold;
      font-size: 1rem;
    }
  }

  @media (max-width: 999px) {
    &__container {
      padding-top: 4rem;
      position: absolute;
      width: 100%;
      background: c.$colorOrange;
      flex-direction: column;
      left: 0;
      top: 0;
      display: none;
      z-index: 10;

      .nav__container_item {
        width: 100%;
        margin: 0.5rem 0;
        border-bottom: 1px black solid;

        &:hover {
          border: 2px solid c.$colorBlack;
          border-radius: 0.5rem;
          background-color: c.$colorBeige;
          padding: 0.5rem;
        }

        .sub-menu {
          display: block;
          position: static;
          background-color: c.$colorYellow;
          box-shadow: none;
          padding: 0;
          margin-top: 0.5rem;

          li {
            padding: 0.25rem 0;
          }
        }
      }
    }

    #menu-toggle:checked + .nav__burger + .nav__container {
      display: flex;
      align-items: center;
    }
  }
}

.current-menu-item,
.current_page_item,
.current-menu-ancestor {
  border: 2px solid c.$colorBlack;
  border-radius: 0.5rem;
  background-color: c.$colorWhite;
  padding: 0.5rem;
}
