@use "../utils/fonts" as f;
@use "../visuals/colors" as c;

.page-project {
  &_title {
    @include f.Montserrat-Bold;
    text-align: center;
  }

  &_description {
    @include f.Montserrat-Regular;
    text-align: center;
    padding: 0 5% 2%;
    margin: 0 20% 0;
  }
}
