@use "../utils/fonts" as f;
@use "../visuals/buttons" as b;
@use "../visuals/colors" as c;

.project {

  &_item {
    display: flex;
    flex-direction: row;
  }

  &_content {

    &_title {
      @include f.Montserrat-Bold;
      font-size: 2.5rem;
    }

    &_description {
      @include f.Montserrat-Regular;
      font-size: 1.125rem;
    }

    &_image {

      &-img {
        max-width: 30%;
        height: auto;
      }
    }
  }

}

