@use "../../utils/fonts" as f;
@use "../../visuals/colors" as c;

.activity {
  &_header {
    display: flex;
    flex-direction: column;
    margin: 2% 2% 2% 10%;
    text-align: center;
  }

  &_title {
    @include f.Poppins-Bold;
    font-size: 3rem;
    padding: 1% 10% 0 2%;
    margin: 0;
  }

  &_description {
    @include f.Poppins-Regular;
    font-size: 1rem;
    padding: 1% 10% 1% 2%;
  }
}
